
{% extends 'index.html' %}

{% block content %}

    <div class="full-height w-100 d-flex align-items-center justify-content-center">
        <div class="card" style="min-width: 300px; max-width: 400px;"> 
            <div class="card-title d-flex justify-content-center py-3">
                Connexion
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="username" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <div class="d-flex justify-content-center">
                  <button id='connexion-btn' class="btn btn-primary">Me connecter</button>
              </div>
              
            </div>
        </div>  
    </div>
{% endblock content %}


{% block scripts %}
    <script>

        document.addEventListener('DOMContentLoaded', async () => {
            // On récpère les input
            let username = document.getElementById('username'), 
                password = document.getElementById('password')
                login_btn = document.getElementById('connexion-btn')


            // On écoute si un click et fait sur le bouton connexion
            login_btn.addEventListener('click', async () => {
                // On récupère les valeurs des champs username & password
                let username_value = username.value,
                    password_value = password.value

                // Vérifie si les champs son vide si oui on retourne un erreur en alert
                if(!username_value || !password_value) return alert('veuillez complété les champs !')
                
                // On fait une requête vers le serveur pour se connecter
                const formdata ={
                    'username': username_value,
                    'password': password_value
                }

                storage.setState('token', '')
                const response = await request('/api/login', formdata)
                const jsonResponse = await response.json()
                // Si la requête na pas le status 200 qui est "success" alors on retourne une erreur alert
                if(response.status != 200){ 
                    return alert(jsonResponse.errors)
                }

                // Ici on utilise une fonction créer dans utils.js qui permet de stocker une paires key:value dans le localStorage
                storage.setState('token', jsonResponse.token)
                storage.setState('user', jsonResponse.user)

                // Et enfin on redirige l'utilisateur vers le dashboard
                window.location.href = '/'
            })
        }) 
    </script>
{% endblock scripts %}