{% load static %}

<nav id="navbar" class="px-4">
	<section class="nav-left-side">
		<span class="nav-title">
			<img width="100" src="{% static '/medias/icone.png' %}">
		</span>
	</section>


	<section class="nav-right-side">
		<button id='logout-btn' class="btn btn-danger btn-sm">Me déconnecté</button>
	</section>
</nav>

<script >
	document.addEventListener('DOMContentLoaded', async () => {
		
		if (window.location.href.includes('login')) 
			document.getElementsByClassName('nav-right-side')[0].style.display = 'none'

		if(!window.location.href.includes('login')){
			const response     = await request('/api/token/check', {token: storage.state().token ?? 'none'})
			const jsonResponse = await response.json()
			

			if(response.status == 401) window.location.href = '/login'

			const logout_btn = document.getElementById('logout-btn')
			logout_btn.addEventListener('click', () => {
				storage.setState('token', null)
				window.location.href = '/login'
			})
		}

	})
</script>