<div class="card my-2 mx-2 w-100"> 
    <div class="card-body w-100">
        <h5 class="card-title">Liste des quizzs</h5>

        <div id='list_quizz_container' class="w-100">
            <table class="table w-100">
                <thead>
                  <tr>
                    <th scope="col">Quizz</th>
                    <th scope="col"> Action </th> 
                  </tr>
                </thead>
                <tbody id="quizz_body_table_passage">
                </tbody>
            </table>
        </div>


    </div>
</div>

<script>
    async function getQuizzsPassage(){
        const response = await request('/api/quizz', {}, 'GET')
        if(response.status != 200) return alert('Une erreur est survenue')
        return await response.json()
    }

    function addRowInTableQuizzPassage(data){
        const table_body = document.getElementById('quizz_body_table_passage')
        console.log(data)

        const tr_row = document.createElement('tr')


        const quizz_associe     = document.createElement('td')
        quizz_associe.innerHTML = data.nom ?? 'Aucun nom pour le quizz' 

        const action_btn = document.createElement('td')

        const showQuizz = document.createElement('button')

        showQuizz.innerHTML = 'Passer le quizz'
        showQuizz.setAttribute('class', 'btn btn-sm btn-primary')
        showQuizz.setAttribute('data-type', 'quizzs_passage')
        showQuizz.setAttribute('data-id', data.id)

        showQuizz.onclick = (event) => openModal(event, buildPassageOfQuizz)

        action_btn.appendChild(showQuizz)

        tr_row.appendChild(quizz_associe)
        tr_row.appendChild(action_btn)

        table_body.appendChild(tr_row)
    }

    document.addEventListener('DOMContentLoaded', async () => {
        const quizzs_passage = await getQuizzsPassage()
        storage.setState('quizzs_passage', quizzs_passage)
        quizzs_passage.forEach(quizz => {
            addRowInTableQuizzPassage(quizz)
        })
    })

    function buildPassageOfQuizz(quizz_data){
        console.log(quizz_data)
    }
</script>